.container {
  display: flex;
  min-height: 100vh;
  margin-left: 5rem;
}
.projectContainer {
  border-top: 1px solid var(--page-seperation-border-color);
  display: flex;
  min-height: 100vh;
  border-bottom: 1px solid var(--page-seperation-border-color);
}

.aboutMeContainer{
   border-bottom: 1px solid var(--page-seperation-border-color);
}

@media(max-width: 375px){
  .container {
    margin-left: 0rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 0rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 0rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin-left: 0rem;
  }
}
